.header {
    position: sticky;
    top: 0;
    padding: 20px;
    background-color: rgb(234, 132, 214);
}

.home_link,
.movies_link,
.active {
    margin-left: 20px;
    font-weight: 700;
    color: rgb(193, 39, 175);
    padding: 20px;
    text-decoration: none;
}

.active {
    color: #fff;
}